/* Reset default styles */
 

/* Body and background settings */
body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20pxb;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}



/* Login Container Styling */
.login-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
}

/* Header */
.login-form h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #34495e;
}

/* Input fields */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 1rem;
    color: #34495e;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    background-color: #ecf0f1;
}

.input-group input:focus {
    border-color: #16a085;
    outline: none;
}

/* Button styling */
.action {
    text-align: center;
}

.login-btn {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: #16a085;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity:0.8; 
}

.login-btn:hover {
    background-color: #1abc9c;
}

/* Signup link */
.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

.signup-link a {
    text-decoration: none;
    color: #16a085;
    font-weight: bold;
}

.signup-link a:hover {
    color: #1abc9c;
}
